---
import Theme from '../styles/index.css';

import { Image } from 'astro:assets';
import AmuletLogo from '../assets/amuletlogo.svg';
import TabsLogo from '../assets/tabslogo.svg';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<!-- <script src="https://unpkg.com/roughjs@latest/bundled/rough.js"></script> -->
	</head>
	<body>

	<div class="container">
	<!-- <div class="header">
		<div class="header-container">
		<a href="/apps" class="nav-link logo-link">
            <span>Apps</span>
            <div class="drawer">
                <Image src={AppsIcon} alt="NBS Logo" width="30" height="30"/>
            </div>
        </a>
		<a href="/" class="nav-link logo-link">
            <span>No Blank Space</span>
            <div class="drawer">
                <Image src={NBSLogo} alt="NBS Logo" width="30" height="30"/>
            </div>
        </a>
        <a href="/about" class="nav-link logo-link">
            <span>About</span>
            <div class="drawer">
                <Image src={About} alt="NBS Logo" width="30" height="30"/>
            </div>
        </a>
		</div>
	</div> -->
	<Header />

		<div class="content">
			<h1 style="padding: 0.5rem;"> Our apps. </h1>
			<div class="apps-container">
			<!-- Amulet -->
			<a href="/apps/amulet" class="app-container">
				<div class="app-header">
					<Image src={AmuletLogo} alt="Amulet Logo" width="100" height="100" />
					<div class="app-name">
						<h1 class="title">Amulet</h1>
						<h1 class="subtitle">Playful journalling</h1>
					</div>
				</div>
				<div class="app-subheader">
					<p class="wide-only">
						Journal using your own language, whatever that might be.
					</p>
					<div class="release-status">Coming soon</div>
				</div>
			</a>
			<!-- Tabs -->
			<a href="/apps/tabs" class="app-container">
				<div class="app-header">
					<Image src={TabsLogo} alt="Tabs Logo" width="100" height="100" />
					<div class="app-name">
						<h1 class="title">Tabs</h1>
						<h1 class="subtitle">Focused todos</h1>
					</div>
				</div>
				<div class="app-subheader">
					<p class="wide-only">
						Simplify decisions, always know what to do next.
					</p>
					<div class="release-status">Coming soon</div>
				</div>
			</a>

			</div>
		</div>

		<div class="footer">
			<div class="footer-container">
				<p>© 2024 No Blank Space</p>
				<a class="wide-only" href="/about#contact">
      		Want to get in touch?
      	</a>
				<p>All rights reserved.</p>
			</div
</div>
	</div>

	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Outfit:wght@100..900&display=swap');

	body {
		font-family: 'Outfit';
		margin: 0;
		padding: 0;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h1 {
		font-weight: 500;
		font-size: 3rem;
		padding: 0rem;
		margin: 0rem;
		font-family: 'Gaegu';
		color: #00000044;
	}
	h2 {
		font-weight: 500;
		font-size: 2rem;
		padding: 0rem;
		margin: 0rem;
		font-family: 'Gaegu';
		color: #00000044;
	}

	p {
		padding: 0rem;
		margin: 0rem;
		font-weight: 300;
		text-align: center;
	}

	a {
		color: black;
		font-weight: bold;
		text-decoration: none;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 1200px;
		width: 100%;
    min-height: 100vh;
	}

	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 3rem;
		color: #000;
	}

	.header-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 1200px;
		margin: 0 1rem; /* Instead of padding */
	}

	.content {
    display: flex;
    flex-direction: column;
    align-items: leading;
    justify-content: start;
    width: 100%;
    max-width: 800px;
    height: 100%;
    flex: 1;
	}

	.apps-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0.5rem;

	}

	.app-container {
		display: flex;
		flex-direction: column;
		background-color: #0000000B;
		padding: 0.75rem 1.25rem;
		border-radius: 1rem;
		transition: transform 0.2s ease;
	}
	.app-container:hover {
    transform: scale(1.02); /* Subtle grow effect - you can adjust the scale value */
}

	.app-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: leading;
		flex: 1;
		gap: 0.5rem;
	}
	.app-header h1 {
		font-size: 1.25rem;
		font-weight: 400;
	}

	.app-name {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		flex: 1;
	}
	.app-header img {
		width: 50px;
		height: 50px;
	}
	.title {
		font-family: "Outfit";
		color: #000;
		font-size: 1rem;
	}
	.subtitle {
		font-family: "Gaegu";
		color: #000;
		font-size: 1rem;
	}

	.app-subheader {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		width: 100%;
	}
	.app-subheader p {
		text-align: left;
	}

	.release-status {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		background-color: #00000088;
		color: #ffffff;
		font-size: 0.75rem;
		padding: 0.4rem 0.8rem;
		corner-radius: 1rem;
		border-radius: 1rem;
		white-space: nowrap
	}

.footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 3rem;
		background-color: #000000;
		border: none;
		color: #FFFFFF88;
		overflow: visible; /* Add this to allow content to overflow */
	}
	.footer-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 1200px;
		margin: 0 1rem; /* Instead of padding */
		overflow: visible; /* Add this too */
	}
	.footer-container a {
		color: #FFFFFF88;
	}

	@media (max-width: 900px) { /* This is the max-width of the footer */
		.wide-only {
			display: none;
		}

		.title {
			font-size: 1rem;
		}
		.subtitle {
			font-size: 0.8rem;
		}

		.app-container {
			flex-direction: row;
			align-items: center;
			flex: 1;
			justify-items: space-between;
		}

		.app-name {
			flex-direction: column;
			gap: 0;
			align-items: start;
			flex: 1;
		}

		.app-subheader {
			flex-direction: column;
			align-items: start;
			flex: 0;
		}
	}

	</style>
